.btn{
  &.disabled{
    background-color: darken($brand-tertiary,20%);
    border-color: darken($brand-tertiary,30%);
  }

  &.btn-default{
    color: $brand-primary;
  }
  &.btn-secondary{
    background-color: $brand-secondary;
  }
}