.logo{
	display: block;
	text-indent: -9999px;
	background: transparent url(../images/logo.1505x180.png) no-repeat;
	background-size: contain;
}

.wrap.container{
	margin-bottom: 40px;
}

.nomargin{
	margin-bottom: 0;
}

.page-header{
	margin-top: 20px;
}

/* Jumbotrons
 -------------------------------------- */
.ribbon{
	background-color: $brand-primary;
	color: #fff;
	text-align: center;

	&.jumbotron{
		padding-top: 24px;
		padding-bottom: 24px;
	}

	p.lead{
		font-weight: 500;
		font-size: 32px;

		&:last-of-type{
			margin-bottom: 0;
		}
	}
}
