.logo{
	display: block;
	text-indent: -9999px;
	background: transparent url(../images/logo.1505x180.png) no-repeat;
	background-size: contain;
}

.wrap.container{
	margin-bottom: 40px;
}

.nomargin{
	margin-bottom: 0;
}

.page-header{
	margin-top: 20px;
}

/* Jumbotrons
 -------------------------------------- */
.ribbon{
	background-color: $brand-primary;
	color: #fff;
	text-align: center;

	&.jumbotron{
		padding-top: 24px;
		padding-bottom: 24px;
	}

	p.lead{
		font-weight: 500;
		font-size: 32px;

		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.jumbotron{
	&.brand-primary{
		background-color: lighten($brand-primary,50%);
	}
	&.brand-secondary{
		background-color: $brand-secondary;
		color: #fff;

		.stat{
			background-color: #fff;
			color: $brand-primary;
		}
	}
	&.jumbotron-cta{
		.btn-lg{
			font-size: 36px;
		}

		.row{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

/* Stats
 -------------------------------------- */
 $stat-size: 200px;
 .stat{
 	display: table;
 	overflow: hidden;

	.stat-inner{
		display: table-cell;
		vertical-align: middle;
	}

	.caption{
		font-size: 16px;
		margin-top: -6px;
	}

 	background: $brand-primary;
 	color: #fff;
 	font-weight: bold;
 	font-size: 48px;
 	text-align: center;
 	width: $stat-size;
 	height: $stat-size;
 	white-space: nowrap;
 	margin: 0 auto;

 	&.circle{
 		border-radius: 50%;
 	}

 	&.sml{
 		font-size: 32px;
 	}
 }