// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:     #1081c4;
$brand-secondary:		#f48223;
$brand-tertiary:		#cdcccb;

// Fonts
$headings-font-family: 'Francois One', sans-serif;
$font-family-base: 'Open Sans', serif;
$line-height-base: 1.6;
$font-size-base: 16px;

// Layout
$page-width: 700px;