footer{
	font-size: 12px;

	.copyright{
		text-align: right;
	}

	.ribbon.jumbotron{
		/* Positioning */

		/* Box Model */
		margin: 0;
		padding: 10px 0;

		/* Typography */

		/* Visual */

	}

	ul.menu{
		padding-left: 0;

		li{
			list-style-type: disc;
			float: left;
		 	text-indent: -5px;
			margin-left: 20px;
			margin-right: 10px;

			&:first-child{
				list-style-type: none;
				margin-left: 0;
			}

			a{
				color: #fff;
			}

			&:after{
				content: '';
			}
		}
	}
}
@media only screen and (max-width: 760px){
	col-lg-8,
	col-lg-4{
		clear: both;
	}
	#menu-footer{
		li{
			float: none;
			list-style-type: none;
			text-indent: 0;
			margin: 0;
			font-size: 16px;
		}
	}
}