/* Home
---------------------------------*/
$jumbotron_h: 450px;
.home{
	.jumbotron.withbackground{
		/* Box-model */
		height: $jumbotron_h;
		margin-bottom: 0;
		position: relative;

		/* Visual */
		background-color: lighten($brand-primary,50%);
		background-image: url(../images/moving-men.1920x800.jpg);
		background-size: cover;
	}

	.jumbotron-overlay{
		position: absolute;
		z-index: 0;
		top: 0;
		height: $jumbotron_h;
		width: 100%;
		padding: 10px 20px 20px 20px;
		background-color: rgba(0,0,0,.25);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1081c4+0,1081c4+100&0.1+0,0.75+100 */
		background: -moz-linear-gradient(top,  rgba(16,129,196,0.1) 0%, rgba(16,129,196,0.75) 100%);
		background: -webkit-linear-gradient(top,  rgba(16,129,196,0.1) 0%,rgba(16,129,196,0.75) 100%);
		background: linear-gradient(to bottom,  rgba(16,129,196,0.1) 0%,rgba(16,129,196,0.75) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1081c4', endColorstr='#bf1081c4',GradientType=0 ); /* IE6-9 */


	}

	.jumbotron-content{
		/* Position */
		margin: 88px auto 0 auto;
		z-index: 30;
		position: relative;

		/* Box-model */
		max-width: 500px;
		padding: 10px;

		/* Typography */
		text-align: center;

		/* Visual */
		background-color: rgba(255,255,255,.95);
		border-radius: 3px;
		box-shadow: 0 0 10px 5px rgba(0,0,0,.3);

		color: darken($brand-tertiary,35%);

		p{
			font-size: 1.25em;
		}
	}

	.jumbotron form{
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.jumbotron-title.logo{
		margin-right: auto;
		margin-left: auto;
		max-width: 500px;

	}

	.navbar{
		margin-bottom: 0;
	}

	#stats-since{
		.counter{
			background-color: lighten($brand-primary, 5%);
			border-radius: 4px;
			padding: 0 8px;
			font-weight: bold;
		}
	}
}
.page-template-template-states-cities-php{
	.links{
		a{
			padding: 16px 20px;
			white-space: nowrap;
			line-height: 50px;
		}
	}
}